<div class="partners"><!--BEGIN FAQ-->
<h2 id="top">Frequently Asked Questions</h2>
<h4>What's this whole Compost Denton thing all about?!</h4>
<ul>
  <li><a href="#!/faq#1">What can I put into my compost bin?</a></li>
  <li><a href="#!/faq#2">What happens with the finished compost?</a></li>
  <li><a href="#!/faq#3">How do I become a Compost Denton Partner?</a></li>
  <li><a href="#!/faq#3">What if I miss a pickup or forget to leave my bin out?</a></li>
  <li><a href="#!/faq#3">How does Compost Denton charge my account?</a></li>
</ul>
<div>
  <div id="1">
    <h2>What can I put into my compost bin?</h2>
    <p>You might be surprised to learn how many household materials are biodegradable. Just think of all the unnecessary landfill space being taken up by valuable organic materials that would otherwise be composted and help feed your community.</p>
    <p><strong>We accept:</strong> Fruits & Veggies (please remove any stickers!), Grains (Pastas, Breads, & Cereals), Coffee grounds and filters, Tea Bags, Herbs/Spices, Egg Shells, Household plants, *Small yard waste, **Herbaceous pet waste, Dryer lint, ***Paper products, Hair or Fur, Fireplace Ashes, Dry pet food.</p>
    <p><strong>We do not accept:</strong> Stickers, Plastics, Styrofoam, Aluminum foil, Candles, Corks, Gum, Rugs, Carpets or Cloth of any kind, Dental floss, Q Tips, Baby wipes, Diapers, Dryer sheets, Vacuum Bags, *Large yard waste, **Carnivorous Pet Waste, Cooking Oils, Grease, Dead animals, Meat products, ***Glossy paper or whole paper products, Wet pet food, Cigarette butts or ashtray ashes.</p>
    <p>*We can take most yard waste that will fit in your bin, so grass clippings, small amounts of leaves or twigs is fine, but we cannot accept large branches or all the waste from a weekend project. We suggest purchasing the sanctioned brown paper yard waste bags and leaving it curbside for the city to pick up.</p>
    <p>**We will accept small animal and herbaceous pet waste such as gerbils, hamsters, rabbits, guinea pigs etc. and the paper or wood shavings from the cage. But we cannot accept cat, dog, ferret or any reptile waste or waste materials. </p>
    <p>***We will accept food soiled paper products because once soiled, they are no longer recyclable, so napkins, paper plates, paper cups and even pizza boxes if they are shredded or torn up into tiny pieces. We will not accept any glossy paper products, large pieces of cardboard or whole newspapers. Items such as egg cartons, newspaper, cardboard and junk mail is compostable but should be recycled. </p>
    <p><a href="#!/faq#top">Back to top</a></p>
  </div>
  <div id="2">
    <h2>What happens with the finished compost?</h2>
    <p>In short; Wonderful things! Our finished compost is currently made available to official Partners of Compost Denton. These include local farms and community gardens which use the compost to help grow produce you can buy and produce that is donated to local charities. In the coming months look for our compost to be made available to the rest of the community!</p>
    <p><a href="#!/faq#top">Back to top</a></p>
  </div>
  <div id="3">
    <h2>How do I become a Compost Denton Partner?</h2>
    <p>Partners of Compost Denton are typically businesses or organizations who are able to accept our donated compost or help us provide rewards for individuals and families who have shown exceptional participation in helping to divert organic waste from our landfill. We strive to maintain a mutually beneficial relationship with our partners. If interested, please contact us to see how we can help each other while benefiting our community!</p>
    <p><a href="#!/faq#top">Back to top</a></p>
  </div>
  <div id="3">
    <h2>What if I miss a pickup or forget to leave my bin out?</h2>
    <p>Compost Denton’s policy is to ring the doorbell and knock if the compost bin is not in plain sight. Unfortunately we are not able to make additional pickups outside the regular weekly schedule, nor are we able to accept two week old waste due to potential health hazards. If a pickup is missed due to your bin not being readily accessible, please discard that week’s organic waste.</p>
    <p><a href="#!/faq#top">Back to top</a></p>
  </div>
  <div id="3">
    <h2>How does Compost Denton charge my account?</h2>
    <p>Compost Denton will charge you every month on the date you sign up. Memberships require a three month minimum, with an option to adjust your subscription beyond that. Memberships can easily be adjusted online.</p>
    <p><a href="#top">Back to top</a></p>
  </div>
</div>

</div><!--END FAQ-->
