<h1>App Name</h1>

<p>Hello <%= @user.name %>!</p>

<p>To reset your password please click the link below:</p>

<%= link_to "Password Reset", 
<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_reset.html.erb
</p>
