<div class="about"><!--BEGIN ABOUT-->
<h2>About</h2>
<h4>Established in 2014, Compost Denton is a small sustainability and technology startup proudly based in Denton, Texas.</h4>
<p> We are passionate about developing waste management infrastructure to make Denton an even more sustainable and environmentally thoughtful city. Compost Denton is owned and operated by Community Compost LLC, a social enterprise dedicated to building sustainable community infrastructure.</p>
<h2>Contact</h2>
<div class="row">
  <div class="col-md-3 col-sm-4 text-center icon"><a href="mailto:compostdenton@gmail.com" target="_blank"><img src="img/email.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 text-center icon"><a href="http://www.facebook.com/compostdenton" target="_blank"><img src="img/facebook.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 text-center icon"><a href="http://twitter.com/CompostDenton" target="_blank"><img src="img/twitter.jpg" /></a></div>
  <div class="col-md-3 col-sm-4 text-center icon"><a href="http://youtube.com/compostdenton" target="_blank"><img src="img/youtube.jpg" /></a></div>
</div>
<h2>Our Team</h2>
<div class="row">
  <div class="col-md-3 col-sm-4 text-center icon">
    <img class="img-responsive img-circle" src="img/team_kory.jpg" />
    <h4>Kory Brown</h4>
    <p>Developer</p>
  </div>
  <div class="col-md-3 col-sm-4 text-center icon">
    <img class="img-responsive img-circle" src="img/team_gavin.jpg" />
    <h4>Gavin Coelho</h4>
    <p>Developer</p>
  </div>
  <div class="col-md-3 col-sm-4 text-center icon">
    <img class="img-responsive img-circle" src="img/team_thomas.jpg" />
    <h4>Thomas Wild</h4>
    <p>Director of Operations, Cofounder</p>
  </div>
  <div class="col-md-3 col-sm-4 text-center icon">
    <img class="img-responsive img-circle" src="img/team_andrew.jpg" />
    <h4>Andrew Jordan Miller</h4>
    <p>CEO, Cofounder</p>
  </div>
</div>
</div><!--END ABOUT-->
