<section>
  <div class="row">
    <div class="col-md-12 col-md-6 main-feature">
      <h2>Feed the Soil.</h2>
      <h3>Sustain the Future.</h3>
      <p class="lead">Compost Denton is a community curbside composting service in Denton, TX.</p>
      <br />
      <div class="btn-mobile">
        <a href="/signup">
          <button class="btn btn-lg btn-success">Free Trial!</button>
        </a>
      </div>
    </div>
    <div class="col-md-12 col-md-6">
      <div class="flex-video widescreen">
        <iframe width="560" height="315" src="//www.youtube.com/embed/D5vDb3wTz3M?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center icon">
      <img class="image-circle" src="img/icon1.png" />
      <h3>Join</h3>
      <p>First become a member and we provide you a compost bin.</p>
      <br />
      <div class="btn-mobile">
        <a href="/signup">
          <button class="btn btn-lg btn-success">Free Trial!</button>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center icon">
      <img class="image-circle" src="img/icon2.png"/>
      <h3>Pickup</h3>
      <p>Fill your bin with compostable waste, and once a week we empty it for you.</p>
      <br />
      <div class="btn-mobile">
        <a href="/signup">
          <button class="btn btn-lg btn-success">Be Green</button>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center icon">
      <img class="image-circle" src="img/icon3.png" />
      <h3>Community</h3>
      <p>We turn your compostables into nutrient rich soil, and make it available to the community.</p>
      <br />
      <div class="btn-mobile">
        <a href="#!/#education">
          <button class="btn btn-lg btn-success">Learn More</button>
        </a>
      </div>
    </div>
  </div>
  <div class="row feature topsoil">
    <div class="col-md-5">
      <img class="img-responsive" src="/img/photo1.jpg" />
    </div>
    <div class="col-md-7">
      <h2>Why Compost?</h2>
      <h3>See for yourself.</h3>
      <p class="lead">Nearly 30% of landfill waste is compostable. Reduce waste - Support local farms and gardens.</p>
      <div class="btn-mobile">
        <a href="/signup">
          <button class="btn btn-lg btn-success pull-right">Get a Compost Bin</button>
        </a>
      </div>
    </div>
  </div>
  <div class="row feature education" id="education">
    <div class="col-md-7">
      <h2>Educate Yourself</h2>
      <h4>Links and Resources</h4>
      <br />
      <ul>
        <li><a href="http://compostingcouncil.org/composting-for-teachers-and-students/">US Composting Council</a></li>
        <li>Guidelines for Compost Quality and Nutrient Management
          <ul>
            <li><a href="http://www.ccme.ca/assets/pdf/compostgdlns_1340_e.pdf">Guidelines for Compost Quality (CCME)</a></li>
            <li><a href="http://nevegetable.org/cultural-practices/compost-and-manure-use-and-nutrient-management">New England Vegetable Mangement Guide (NEVegetable)</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="/img/photo2.jpg" />
    </div>
  </div>
  <div class="pull-right">
    <a href="#!/#">Back to Top</a>
  </div>
</section>
