<div class="partners"><!--BEGIN PARTNERS-->
<h2>Partners</h2>

<h4>Stewards of the Denton sustainability.</h4>

<p>Compost Denton Partners are eligible to receive donations of excess compost. Additionally, Compost Denton members can expect rewards from select Partners for outstanding composting practices!</p>

<div class="row">

  <!--CARDOS FARM PROJECT-->
<!--  <div class="partner-node col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="well">
    <a target="_blank" href="http://cardosfarmproject.com">
      <img class="img-responsive img-rounded" src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xaf1/t1.0-9/532566_379475575447433_724133016_n.jpg" />
    </a>
    <h4>Cardo's Farm Project</h4>
    <p>Farm and education center. Sustainable Agriculture. Community Engagement.</p>
  </div>
  </div> -->

  <!--COMMUNITY MARKET-->
  <div class="partner-node col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="well">
    <a target="_blank" href="http://dentonmarket.org/">
      <img class="partner-img img-rounded" src="img/dentonmarket.jpg" />
    </a>
    <h4>Denton Community Market</h4>
    <p>Local art and produce market. Aiming to strengthen community vitality of Denton, TX.</p>
  </div>
  </div>

  <!--FEED DENTON-->
  <div class="partner-node col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="well">
    <a target="_blank" href="http://feeddenton.org/">
      <img class="partner-img img-rounded" src="img/feeddenton.png" />
    </a>
    <h4>Feed Denton</h4>
    <p>Online local food directory. Sharing community local food knowledge.</p>
  </div>
  </div>

  <!--Shiloh Field-->
  <div class="partner-node col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="well">
    <a target="_blank" href="https://www.facebook.com/dbcgarden">
      <img class="partner-img img-rounded" src="img/shiloh.jpg" />
    </a>
    <h4>Shiloh Field</h4>
    <p>Denton Bible Church community garden. All harvest feeds those in need.</p>
  </div>
  </div>

  <!--Tech Miller-->
  <div class="partner-node col-lg-4 col-md-6 col-sm-6 col-xs-12">
  <div class="well">
    <a target="_blank" href="http://www.techmill.co">
      <img class="partner-img img-rounded" src="img/techmill.png" />
    </a>
    <h4>Tech Mill</h4>
    <p>Denton's startup community builders. Creating startup initiatives and organizing events.</p>
  </div>
  </div>

</div>
</div><!--END PARTNERS-->
