<section>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Pricing</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-4">
            <div class="well">
                <h3 class="text-center">Residential</h3>
                <h4 class="text-center">$16/month +tax</h4>
                <hr class="well-rule" />
		<p class="text-center"><strong>14 day Free Trial</strong></p>
                <ul>
                    <li>One Compost bin for your to keep.</li>
                    <li>Weekly doorstep compost pickups.</li>
                    <li>Compost Denton profile with weight tracking on your waste diversion from landfills.</li>
		    <li>Tingly good feeling from participating in sustainable waste management practices.</li>
		    <li>Extra compost bins available for $2/month each.</li>
                </ul>
                <br />
                <div class="btn-mobile text-center">
                    <a href="/signup">
                        <button class="btn btn-lg btn-success">
                            <span>Sign Up</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-md-4">
            <div class="well">
                <h3 class="text-center">Business</h3>
                <h4 class="text-center">Prices vary</h4>
                <hr class="well-rule"/>
                <ul>
                    <li>Cafes, coffee shops, small restaurants, offices, cafeterias and food trucks.</li>
                    <li>Pricing varies depending on volume and number of weekly pickups required.</li>
                    <li>We'd love to work with you, contact us!</li>
                </ul>
                <br />
                <div class="btn-mobile text-center">
		  <a href="mailto:compostdenton@gmail.com" target="_blank">
                    <button class="btn btn-lg btn-success">
                        <span>Contact Us</span>
                    </button>
		  </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-md-4">
            <div class="well">
                <h3 class="text-center">Events</h3>
                <h4 class="text-center">Contact Us!</h4>
                <hr class="well-rule"/>
                <ul>
                    <li>Let us help you make your party a zero-waste event!</li>
                    <li>Pricing varies depending on volume.</li>
                    <li>We'd love to work with you, contact us!</li>
                </ul>
                <br />
                <div class="btn-mobile text-center">
		  <a href="mailto:compostdenton@gmail.com" target="_blank">
                    <button class="btn btn-lg btn-success">
                        <span>Contact us</span>
                    </button>
		  </a>
                </div>
            </div>
        </div>
    </div>
</section>
