<div class="partners"><!--BEGIN FAQ-->
<h2 id="top">Terms of Service</h2>

<div class="">
<p>Compost Denton is an affiliation of Community Compost, LLC which provides a pickup service of biodegradable waste for individual residences and small commercial operations.</p>

<p>When signing up for this service you will become a Member of Compost Denton. As a Member, you will then receive an official compost bin in which to dispose of your biodegradable waste. Curbside waste pickup will occur at a designated weekly date and a new brown paper bag liner will be provided in your bin with each pickup. Any data collected through Member registration and participation is the property of Community Compost LLC.</p>

<p>All individually identifiable data collected from these pickups through your participation is the property of Community Compost LLC and could be made available for public viewing unless it is expressed you wish otherwise. You will also have the opportunity to access rewards offered to Members who show exceptional participation in diverting biodegradable waste from our landfill. For the weekly curbside pickup, you are expected to leave the provided bin on the street. If the bin is not immediately visible, you should expect an employee to knock at your door and ask to empty your bin. The finished composted materials will be made available to the community, including our official Partners. Our Partners will include local farms, gardens, and any other businesses that would benefit from utilizing locally sourced compost.</p>

<p>You are expected to only put acceptable biodegradable waste materials into the provided bin. Accepted and unaccepted materials are outlined on our website; www.compostdenton.com/faq. If any inorganic or unaccepted materials are found in your bin on more than one occasion, you will first receive notice to cease and after repeated offenses your service and Membership status can be terminated.</p>

<p>Community Compost LLC and all affiliates are not responsible for any damage to your provided bin or other personal property. We will only provide a brown paper bag liner during the weekly pickups and are not responsible for cleaning any residue or odors that could leak through the liner into the bin. In the case you will need to be provided with more than one bin, additional charges may incur.</p> 

<p>Payments will be automatically withdrawn each month on the date of signup from a bank account you designate.</p>

<p>The minimum membership is three months. In the case you wish to cancel your Membership prior to your originally designated end date, you will need to contact us to let us know you are cancelling your membership and you should expect to continue to have your monthly fee withdrawn from your account until the originally established end date. Since the monthly fee will still be charged throughout your entire membership you should inform us if you would like the weekly pickups to continue until withdrawal payments have ceased.</p>

<p>Our Privacy Policy assures you that no outside party will have access to any personal information you provide.</p>

<p>These Terms of Service are subject to change at any time and no notification of any changes will be provided.</p>

<p>By registering as a Member of Compost Denton and providing your personal information, you are agreeing to these Terms of Service.</p>
</div>

</div><!--END FAQ-->
