<% provide( :title, 'Profile' ) %>
<div class="row">
  <div class="col-md-12">
    <h1><%= @user.first_name %><!-- going to change this to org_name --></h1>
    <h2>Total Diversion<span class="pull-right">xx lbs</span></h2>
    <h2>Monthly Average<span class="pull-right">xx lbs</span></h2>
    <h2>Weekly Average<span class="pull-right">xx lbs</span></h2>
    <%= link_to "Log weight", root_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Add member", root_path, class: "btn btn-default btn-lg"  %>
  </div>
</div>
