/**
*** OVERRIDING BOOTSTRAP VARIABLES
**/ 

$brand-primary: #4F6F2D;

/**
*** CUSTOM VARIABLES
**/

// nothing here yet

/**
*** IMPORTS
**/

@import "bootstrap-sprockets";
@import "bootstrap";

/**
*** CUSTOM STYLES
**/

body {
  padding-top: 100px;
}

header {
  background-color: white;
  margin: 0 !important;
  padding: 20px 0 !important;
  border-bottom: 1px solid $gray-lighter !important;
  z-index: 9999!important;
}

#logo {
  padding: 15px 0;
}

.navbar-toggle {
  border-color: #dddddd;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #dddddd;
}

.navbar-toggle .icon-bar {
  background-color: #cccccc;
}

// UI AUTOCOMPLETE

.ui-autocomplete {
  z-index: 9998;
}

// Gmaps Custom Styling

.custom_overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 200px;
  top: 200px;
  margin-top: -200px;
  z-index: 9997;
}

#gmaps-canvas {
  height: 200px;
}

/**
*** MEDIA QUERIES
**/

@media (min $grid-float-breakpoint) {

  // Nav items pull right except when collapsed
  .navbar-collapse {
    float: right !important;
  }

}
