<footer class="footer">
  <hr>
  <p class="pull-right">Feed the soil. Sustain the Future.</p>
  <p>Compost App is <%= link_to 'open source', 'https://github.com/andrewjm/compost-app' %></p>
</footer>
