<% provide(:title, "Sort Members") %>
<h1>Sort Members</h1>

<div class="btn-group btn-group-justified" id="member_order_buttons" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-lg" id="btn-first"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> First Name</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-lg" id="btn-last"><span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span> Last Name</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-lg" id="btn-locale"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</button>
  </div>
</div>

<ul class="users list-group">
  <% # For each @member render the _member.html.erb partial %>
  <% @members.each do |member| %>
    <%= render member %>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to "Add member", new_user_member_path(@user), class: "btn btn-primary btn-lg"  %>
